{%extends 'catalog/base.html'%}
{%block content%}
    {% if user.is_staff %}
        <h4>Изменить / обновить информацию об авторе: </h4>
        <li><a href="{% url 'author_update' author.pk %}">Обновить информацию об авторе</a></li>
        <br>
        <li><a href="{% url 'author_delete' author.pk %}">Удалить автора</a></li>
    {% endif %}
    <br>
    <br>
    <h2> Все, что мы знаем об авторе:</h2>
    <p><strong>Имя:   </strong>"{{ author.first_name }}"</p>
    <p><strong>Фамилия:    </strong>"{{ author.last_name }}"</p>
    <p><strong>Дата рождения:</strong>"{{ author.date_of_birth }}"</p>
    <p><strong>Дата смерти:</strong>"{{ author.date_of_death }}"</p>
    <br>
{% endblock content %}

