{%extends 'catalog/base.html'%}

{%block content%}
<div class="container">

    <p>Добро пожаловать на сайт "Лучшие книги"! Являясь лидером в области образовательных издательств на протяжении более 100 лет, миссия World Book по—прежнему сосредоточена на разработке совместной платформы цифрового обучения, опирающейся на редакторское мастерство, бесценные ресурсы и эффективные инструменты, которые поддерживают индивидуальное преподавание и обучение, обслуживающее более 100 миллионов студентов в более чем 65 странах.</p>
    <h2> Контент, который вы можете найти здесь:</h2>
    <p> Образование - это обязательство World Book, а ее редакционная команда - сила World Book. Каждый член команды - это
        стремится предоставлять точную и непредвзятую информацию, используя современные технологические инструменты и
        следуя традиционным методам редакторского мастерства. Вот уже более 100 лет World Book продвигает
        обучение для всей семьи с помощью целого ряда продуктов, в которых кратко объясняются сложные темы
        и ярко иллюстрированный. Явная цель состоит в том, чтобы помочь повысить как беглость чтения, так и понимание в
        юные читатели. Энциклопедический контент постоянно обновляется и доступен в режиме 24/7 на различных устройствах.
        Инновационная и удобочитаемая книга World Book останется надежным и полезным ресурсом дома, в библиотеке и
        в классе на долгие годы.</p>

    <ul>
        <li><strong> Общее количество различных книг: </strong> {{num_books}}</li>
        <li><strong> Общее количество копий : </strong> {{num_instances}}</li>
        <li><strong> Общее количество копий по порядку :</strong> {{num_instances_available}}</li>
        <li><strong> Общее число авторов </strong> {{num_authors}}</li>
    </ul>
    <p> Ты был здесь уже {{num_visits}} раз! </p>
</div>
{%endblock content%}